<!-- Modal Signup start -->
<aside class="modal signUpContent fade" id="ModalAboutUs" data-width="760" style="z-index:8000" tabindex="-1" role="dialog">
    <div class="modal-dialogterms">
        <section class="modal-content">
            <header class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times; </button>
                <h3 class="modal-title-site text-center"> Sobre Nós</h3>
            </header>
            <div class="modal-body">

                <div class="form-group reg-password">
                    <div>
                        Preocupado com seu direito à privacidade, o Economizei.com.br estabeleceu a seguinte política para proteger suas informações pessoais:

                        As informações fornecidas serão usadas exclusivamente para fornecer um serviço eficiente. O Economizei.com.br tomará todas as medidas apropriadas para proteger a sua privacidade.

                        No ato de qualquer cadastramento de seus dados dentro do site do “economizei.com.br”, mantido pela Economizei.com.br , você consente, expressamente, com a abertura de cadastro em seu nome, sendo inaplicável o disposto no parágrafo segundo, do artigo 43, do Código de Proteção e Defesa do Consumidor.

                        Embora a Economizei.com.br empregue seus melhores esforços, considerando a vulnerabilidade dos sistemas informáticos, e o constante avanço da tecnologia de invasões, O Economizei.com.br NÃO SE RESPONSABILIZA POR ATOS DE TERCEIROS QUE LOGREM ÊXITO EM COLETAR OU UTILIZAR, POR QUAISQUER MEIOS, DADOS CADASTRAIS E INFORMAÇÕES DISPONIBILIZADAS POR VOCÊ AO PORTAL Economizei.com.br .

                        Todas as operações que envolvam dados sensíveis, dentro do site do “economizei.com.br”, mantido pela Economizei.com.br , são inteiramente processadas em ambiente seguro, de modo que sempre que você fornecer informações, tais estarão protegidas por uma das mais avançadas técnicas de criptografia. No entanto, o Economizei.com.br não pode garantir total segurança, ante o constante avanço da tecnologia de invasões.

                        O Economizei.com.br tomará também medidas razoáveis de segurança para proteger suas informações pessoais armazenadas. O Economizei.com.br ou a qualquer empresa do seu grupo econômico, se reserva o direito de utilizar suas informações pessoais, para fins comerciais, o que o usuário declara estar ciente e concorda, porém, o Economizei.com.br se compromete a não fornecer quaisquer de suas informações pessoais para outras empresas ou indivíduos sem a sua permissão. No entanto, é possível que tenhamos que fornecer seus dados para terceiros, caso você, por exemplo, adquira algum serviço disponibilizado no site “economizei.com.br”, mantido pelo Economizei.com.br .

                        Você fica ciente que, sempre que fundado em indício de ato ilícito, e solicitado, por qualquer interessado, informações sobre a propriedade do seu registro no site “economizei.com.br”, mantido pelo Economizei.com.br , será lícito à Economizei.com.br fornecer os seus dados, sem que tal ato constitua qualquer violação de sigilo.

                        Dentro de nosso site é possível que você encontre links a sites de terceiros. Porém não temos controle sobre esses sites, que não têm qualquer ligação com o Economizei.com.br , e não sabemos qual o regulamento de privacidade deles, que é constantemente alterado, inviabilizando sua verificação pelo Economizei.com.br . Recomendamos que você verifique o regulamento de privacidade dos mesmos.

                        Para que possamos manter a exatidão de suas informações, solicitamos que sempre que ocorrerem alterações nos dados cadastrais, favor atualizá-los no painel de controle do usuário. Se a qualquer momento você desejar parar de receber informações do Economizei.com.br por e-mail, você pode cancelar a sua inscrição, solicitando o cancelamento por meio do formulário de Cancelamento de Newsletter, ou caso você tenha um login no site “economizei.com.br”, desabilite a opção no painel de controle do usuário.

                        Devido à rápida evolução das tecnologias na Internet, poderemos ocasionalmente atualizar este regulamento. Todas as revisões serão colocadas neste site, motivo pelo qual recomendamos que proceda de forma habitual à leitura das condições vigentes à época de seu acesso. A utilização dos serviços do Economizei.com.br implicará na sua irrestrita aceitação das condições fixadas, incluindo as alterações que porventura venham a ser realizadas.

                        Caso ainda tenha alguma dúvida, o Economizei.com.br aguarda comentários e perguntas sobre este regulamento.

                        Quaisquer comentários ou perguntas devem ser enviados por meio do atendimento on-line.
                    </div>
                </div>


            </div>
            <footer class="modal-footer"></footer>
        </section>
        <!-- /.modal-content -->

    </div>
</aside>
<!-- /.modal-dialog -->
<!-- /.ModalSignup End -->
