/*===== CSS do Template =====*/
/*@import url("style.css");*/
/*===== Skin do Template =====*/
/*@import url("skin-7.css");*/
/*===== Módulos e Gerais =====*/
/*===== Módulos e Gerais =====*/
/*== Cores ==*/
.navbar-top {
  background-color: #3c719c;
}
/*== Functions ==*/
/*== Geral ==*/
.headerOffset {
  padding-top: 100px;
}
/* Fontes/Tipografia */
.font-title {
  font-family: 'Lato', sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif !important;
  font-weight: normal;
  margin: 0;
  padding-bottom: 15px;
}
h1 {
  font-size: 30px;
  line-height: 35px;
}
h2 {
  font-size: 24px;
  line-height: 28px;
}
h3 {
  font-size: 20px;
  line-height: 24px;
}
h4 {
  font-size: 17px;
  line-height: 20px;
}
h5 {
  font-size: 14px;
  line-height: 20px;
}
h6 {
  font-size: 12px;
  line-height: 20px;
}
/*== Módulos ==*/
input[type="text"],
input[type="password"],
input[type="email"] {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #D6D6D6 !important;
  box-shadow: 0 0 1px #FFF,0 1px 1px #CCC;
  color: #888888;
  padding-left: 8px;
  margin-bottom: 10px;
  height: 36px;
  font-size: 14px;
  box-shadow: 0 0 1px #FFF,0 1px 1px #CCC inset;
}
input[type="text"] .panel-heading,
input[type="password"] .panel-heading,
input[type="email"] .panel-heading {
  border-bottom: solid 1px 45.29411765%;
  background: #3c719c !important;
  position: relative;
}
input[type="text"] .panel-heading:after,
input[type="password"] .panel-heading:after,
input[type="email"] .panel-heading:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-top: 5px solid #3c719c !important;
  position: absolute;
  bottom: -5px;
}
input[type="text"] .panel-heading .panel-title,
input[type="password"] .panel-heading .panel-title,
input[type="email"] .panel-heading .panel-title {
  font-size: 18px;
  color: #fff;
}
input[type="text"] .panel-body,
input[type="password"] .panel-body,
input[type="email"] .panel-body {
  padding: 0;
  border: 0;
}
input[type="text"] .panel-body .categoria-title,
input[type="password"] .panel-body .categoria-title,
input[type="email"] .panel-body .categoria-title {
  font-size: 14px;
  display: inline !important;
}
input[type="text"] .panel-body .lista-categorias .categoria,
input[type="password"] .panel-body .lista-categorias .categoria,
input[type="email"] .panel-body .lista-categorias .categoria {
  border-bottom: solid 1px 45.29411765% !important;
}
input[type="text"] .panel-body .lista-categorias .categoria > a:hover,
input[type="password"] .panel-body .lista-categorias .categoria > a:hover,
input[type="email"] .panel-body .lista-categorias .categoria > a:hover {
  color: #3c719c;
}
input[type="text"] .panel-body .lista-categorias .categoria > a:hover i:before,
input[type="password"] .panel-body .lista-categorias .categoria > a:hover i:before,
input[type="email"] .panel-body .lista-categorias .categoria > a:hover i:before {
  color: #3c719c;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}
input[type="text"] .panel-body .lista-categorias .categoria > a:hover .badge,
input[type="password"] .panel-body .lista-categorias .categoria > a:hover .badge,
input[type="email"] .panel-body .lista-categorias .categoria > a:hover .badge {
  background-color: #3c719c;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}
input[type="text"] .panel-body .lista-categorias .categoria .badge,
input[type="password"] .panel-body .lista-categorias .categoria .badge,
input[type="email"] .panel-body .lista-categorias .categoria .badge {
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}
input[type="text"] .panel-body .lista-categorias .categoria i:before,
input[type="password"] .panel-body .lista-categorias .categoria i:before,
input[type="email"] .panel-body .lista-categorias .categoria i:before {
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}
input[type="text"] .panel-body .lista-marcas,
input[type="password"] .panel-body .lista-marcas,
input[type="email"] .panel-body .lista-marcas {
  margin-top: -8px;
  margin-bottom: 12px;
  font-size: 13px;
}
input[type="text"] .panel-body .lista-marcas a,
input[type="password"] .panel-body .lista-marcas a,
input[type="email"] .panel-body .lista-marcas a {
  display: block;
}
input[type="text"] .panel-body .lista-marcas a:hover,
input[type="password"] .panel-body .lista-marcas a:hover,
input[type="email"] .panel-body .lista-marcas a:hover {
  border-left: 2px solid #3c719c;
  color: #3c719c;
  transition: 0.1s border linear;
  -webkit-transition: 0.1s border linear;
  -moz-transition: 0.1s border linear;
  -ms-transition: 0.1s border linear;
  -o-transition: 0.1s border linear;
}
input[type="text"] .panel-body .lista-marcas li,
input[type="password"] .panel-body .lista-marcas li,
input[type="email"] .panel-body .lista-marcas li {
  padding: 4px 28px;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}
input[type="text"] .panel-body .lista-marcas li:hover,
input[type="password"] .panel-body .lista-marcas li:hover,
input[type="email"] .panel-body .lista-marcas li:hover {
  background: 45.29411765%;
}
input[type="text"] .panel-body .arrow .fa-caret-right:before,
input[type="password"] .panel-body .arrow .fa-caret-right:before,
input[type="email"] .panel-body .arrow .fa-caret-right:before {
  color: #f7941e;
}
.no-bg {
  background: none !important;
}
.mt {
  margin-top: 10px;
}
.box-model {
  -webkit-border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  border: 1px solid #D6D6D6 !important;
  box-shadow: 0 0 1px #FFF,0 1px 1px #CCC;
}
/* Modal */
.modal {
  overflow: auto;
}
.modal .login-remember #OptIn {
  float: none !important;
}
.modal-title-site {
  color: #FFFFFF;
  font-family: 'Lato', sans-serif !important;
  font-weight: 100;
  font-size: 26px;
  padding: 6px 0;
}
.modal-dialog {
  max-width: 460px;
}
.modal-header {
  border-bottom: 1px solid #E5E5E5;
  color: #FFFFFF;
  padding: 5px 15px;
  margin-bottom: 20px;
  background-color: #3c719c;
}
.modal-header .close {
  color: #FFF;
  opacity: .8;
}
.modal-content {
  border: 0 solid #ddd;
  border-radius: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}
.modal-footer {
  background: #eee;
  border-top: 1px solid #E5E5E5;
  padding: 10px 20px;
}
.btn-pri {
  -webkit-border-radius: 4px 3px 3px 3px;
  -moz-border-radius: 4px 3px 3px 3px;
  border-radius: 4px 3px 3px 3px;
  transition: background 0.2s linear;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  color: #fff;
  background: #3c719c;
}
.btn-pri:hover {
  transition: background 0.2s linear;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  color: white;
  background: #1c75bc;
}
.btn-pri:focus {
  color: white;
}
.btn-pri-reverse {
  -webkit-border-radius: 4px 3px 3px 3px;
  -moz-border-radius: 4px 3px 3px 3px;
  border-radius: 4px 3px 3px 3px;
  transition: background 0.2s linear;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  color: #fff;
  background: #3c719c;
  background: #1c75bc;
}
.btn-pri-reverse:hover {
  transition: background 0.2s linear;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  color: white;
  background: #1c75bc;
}
.btn-pri-reverse:focus {
  color: white;
}
.btn-pri-reverse:hover {
  background: #3c719c;
}
.btn-pri-flat {
  -webkit-border-radius: 4px 3px 3px 3px;
  -moz-border-radius: 4px 3px 3px 3px;
  border-radius: 4px 3px 3px 3px;
  transition: background 0.2s linear;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  color: #fff;
  background: #3c719c;
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.btn-pri-flat:hover {
  transition: background 0.2s linear;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  color: white;
  background: #1c75bc;
}
.btn-pri-flat:focus {
  color: white;
}
.btn-pri-flat-reverse {
  -webkit-border-radius: 4px 3px 3px 3px;
  -moz-border-radius: 4px 3px 3px 3px;
  border-radius: 4px 3px 3px 3px;
  transition: background 0.2s linear;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  color: #fff;
  background: #3c719c;
  background: #1c75bc;
  -webkit-border-radius: 0px 0px 0px 0px;
  -moz-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}
.btn-pri-flat-reverse:hover {
  transition: background 0.2s linear;
  -webkit-transition: background 0.2s linear;
  -moz-transition: background 0.2s linear;
  -ms-transition: background 0.2s linear;
  -o-transition: background 0.2s linear;
  color: white;
  background: #1c75bc;
}
.btn-pri-flat-reverse:focus {
  color: white;
}
.btn-pri-flat-reverse:hover {
  background: #3c719c;
}
.label-sec {
  background-color: #f7941e;
  color: #FFF;
}
.panel-title {
  color: inherit;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  color: #34495E;
}
.title-home {
  position: relative;
  padding: 5px 15px !important;
  border-bottom: solid 1px 45.29411765%;
  margin-bottom: 10px;
  -webkit-border-radius: 4px 4px 0 0 !important;
  -moz-border-radius: 4px 4px 0 0 !important;
  border-radius: 4px 4px 0 0 !important;
  color: #fff;
  background: #3c719c !important;
  font-size: 18px;
}
.title-home:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid rgba(0, 0, 0, 0);
  border-right: 7px solid rgba(0, 0, 0, 0);
  border-top: 7px solid #3c719c !important;
  position: absolute;
  left: 15px;
  bottom: -7px;
}
.flag {
  position: absolute;
}
.flag.flag-baixou {
  top: 0;
  right: 0;
}
.flag.flag-baixou .label {
  background-color: #f7941e;
}
.flag .label {
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: normal;
  z-index: 2;
}
.categoryFooter {
  border-top: solid 1px #eee;
  padding-top: 20px;
}
.categoryFooter .pagination {
  margin-bottom: 10px;
}
.lista-geral {
  margin-top: -8px;
  margin-bottom: 12px;
  font-size: 13px;
}
.lista-geral a {
  display: block;
}
.lista-geral a:hover {
  border-left: 2px solid #3c719c;
  color: #3c719c;
  transition: 0.1s border linear;
  -webkit-transition: 0.1s border linear;
  -moz-transition: 0.1s border linear;
  -ms-transition: 0.1s border linear;
  -o-transition: 0.1s border linear;
}
.lista-geral li {
  padding: 4px 28px;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}
.lista-geral li:hover {
  background: 45.29411765%;
}
/*===== Header =====*/
/*===== Header =====*/
.navbar-tshop {
  width: 100%;
}
.menuWrap {
  border-top: 1px solid rgba(0, 0, 0, 0.07);
}
.navbar-brand {
  padding: 10px;
  color: #FFFFFF;
  font-size: 28px;
  font-weight: bold;
}
.navbar .navbar-top {
  transition: all 0.1s ease-out 0s;
  -webkit-transition: all 0.1s ease-out 0s;
  -moz-transition: all 0.1s ease-out 0s;
  -ms-transition: all 0.1s ease-out 0s;
  -o-transition: all 0.1s ease-out 0s;
  font-size: 11px;
  font-weight: bold;
  line-height: 11px;
  text-transform: uppercase;
}
.navbar.stuck .navbar-top {
  display: none;
}
.brandWrap {
  transition: all 0.2s ease-out 0s;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
  height: auto;
}
/* --------- Mega Menu Start -----------*/
.megamenu .nav,
.megamenu .dropup,
.megamenu .dropdown,
.megamenu .collapse {
  position: static;
}
.megamenu .navbar-inner,
.megamenu .container {
  position: relative;
}
.megamenu .dropdown-menu {
  left: auto;
}
.megamenu .dropdown-menu > li {
  display: block;
}
.megamenu .nav.pull-right .dropdown-menu {
  right: 0;
}
.megamenu .megamenu-content {
  padding: 20px 30px;
  *zoom: 1;
}
.megamenu .megamenu-content:before,
.megamenu .megamenu-content:after {
  display: table;
  content: "";
  line-height: 0;
}
.megamenu .megamenu-content:after {
  clear: both;
}
.megamenu.navbar .nav > li > .dropdown-menu:after,
.megamenu.navbar .nav > li > .dropdown-menu:before {
  display: none;
}
.megamenu .dropdown.megamenu-fullwidth .dropdown-menu {
  width: 100%;
  left: 0;
  right: 0;
}
.megamenu .dropdown.megamenu-80width .dropdown-menu {
  width: 80%;
  left: 0;
  right: 0;
}
.megamenu .dropdown.megamenu-80width .dropdown-menu {
  width: 80%;
  left: 0;
  right: 0;
}
.megamenu .dropdown.megamenu-50width .dropdown-menu {
  width: 50%;
  left: 0;
  right: 0;
}
.megamenu .dropdown.megamenu-40width .dropdown-menu {
  width: 40%;
  left: 0;
  right: 0;
}
.megamenu .dropdown.megamenu-fullwidth .dropdown-menu {
  width: 100%;
  left: 0;
  right: 0;
}
@media (max-width: 969px) {
  .megamenu .dropdown.megamenu-fullwidth .dropdown-menu {
    width: auto;
  }
  .megamenu .megamenu-content {
    padding-left: 0;
    padding-right: 0;
  }
  .megamenu .dropdown-menu > li > ul {
    display: block;
  }
}
/* megamenu end */
.megamenu-content img {
  max-width: 100%;
}
.megamenu-content ul li {
  border-bottom: 1px solid #EDEDED;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
.megamenu-content ul li a {
  font-size: 12px;
}
.itemInMenu {
  margin-bottom: 0 !important;
}
.itemInMenu .image {
  max-height: 170px !important;
}
.margin-top-10 {
  margin-top: 10px;
}
.social-icon li {
  display: inline-block;
}
.social-icon li a {
  color: #FFFFFF;
  display: inline-block;
  font-size: 18px;
  height: auto;
  margin-left: 0;
  padding: 6px 9px;
  position: relative;
  text-align: center;
  z-index: 10;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0) inset;
  transition: all 0.2s ease-out 0s;
  -webkit-transition: all 0.21s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  -ms-transition: all 0.2s ease-out 0s;
  -o-transition: all 0.2s ease-out 0s;
}
.social-icon li a:hover {
  opacity: 0.8;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
}
.userMenu li {
  display: block;
  float: left;
}
.userMenu li a {
  color: #FFFFFF;
  display: block;
  float: right;
  font-size: 12px;
  /*line-height: 30px;*/
  padding: 0 20px 0 0;
  text-decoration: none;
  transition: opacity 0.2s ease-out 0s;
  -webkit-transition: opacity 0.21s ease-out 0s;
  -moz-transition: opacity 0.2s ease-out 0s;
  -ms-transition: opacity 0.2s ease-out 0s;
  -o-transition: opacity 0.2s ease-out 0s;
}
/*.userMenu li a:hover {
	opacity:0.9;
}*/
.userMenuLeft li {
  display: block;
  float: left;
}
.userMenuLeft li a {
  color: #FFFFFF;
  display: block;
  float: right;
  font-size: 12px;
  padding: 0 20px 0 0;
  text-decoration: none;
}
/*.userMenuLeft li a:hover {
	opacity:0.9;
}*/
.userMenuAuth li {
  float: left;
}
.userMenuAuth li a {
  color: #FFFFFF;
  display: block;
  float: right;
  font-size: 12px;
  line-height: 30px;
  padding: 0 20px 0 0;
  text-decoration: none;
  transition: opacity 0.2s ease-out 0s;
  -webkit-transition: opacity 0.21s ease-out 0s;
  -moz-transition: opacity 0.2s ease-out 0s;
  -ms-transition: opacity 0.2s ease-out 0s;
  -o-transition: opacity 0.2s ease-out 0s;
}
.userMenuAuth li a:hover {
  opacity: 0.9;
}
.phone-number span {
  float: left;
}
/* Header SV */
.navbar-tshop {
  height: auto;
  border-bottom: 1px solid #AFD0EB;
  background-color: rgba(237, 237, 243, 0.85);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.26);
}
.navbar-top {
  font-weight: normal !important;
  height: auto;
  padding: 5px;
}
.navbar-top .btn-navbar-top {
  padding: 3px 15px;
  text-transform: capitalize;
  font-weight: bold;
}
.navbar-top .btn-navbar-top.ajuda {
  font-weight: normal;
}
.logo-sv {
  position: absolute;
}
.logo-sv img {
  width: 100%;
  margin-top: -3px;
}
.content-header-search {
  padding: 8px 0;
}
.wrapper-search {
  position: relative;
}
.btn-site-search {
  position: absolute;
  top: 1px;
  right: 1px;
}
.input-search-site {
  margin-bottom: 0 !important;
  font-size: 15px !important;
}
.navbar-toggle {
  background: rgba(0, 0, 0, 0.2);
  margin: 0 15px 8px 0;
}
.navbar-toggle .icon-bar {
  border: solid 2px #fff;
}
/*===== Media Queries =====*/
/* Min-Tablet - col-md */
@media (min-width: 768px) {
  .search-collapse.collapse {
    display: block !important;
  }
}
/* Max-Tablet - col-md */
@media (max-width: 767px) {
  .wrapper-search {
    padding-top: 15px;
  }
  #btnSearch {
    margin-top: 15px;
    display: block !important;
  }
}
/*===== Sidebar =====*/
/*===== Sidebar =====*/
.panel-default {
  border: 0;
}
.box-model .panel-heading {
  border-bottom: solid 1px 45.29411765%;
  background: #3c719c !important;
  position: relative;
}
.box-model .panel-heading:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid rgba(0, 0, 0, 0);
  border-right: 5px solid rgba(0, 0, 0, 0);
  border-top: 5px solid #3c719c !important;
  position: absolute;
  bottom: -5px;
}
.box-model .panel-heading .panel-title {
  font-size: 18px;
  color: #fff;
}
.box-model .panel-body {
  padding: 0;
  border: 0;
}
.box-model .panel-body .categoria-title {
  font-size: 14px;
  display: inline !important;
}
.box-model .panel-body .lista-categorias .categoria {
  border-bottom: solid 1px 45.29411765% !important;
}
.box-model .panel-body .lista-categorias .categoria > a:hover {
  color: #3c719c;
}
.box-model .panel-body .lista-categorias .categoria > a:hover i:before {
  color: #3c719c;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}
.box-model .panel-body .lista-categorias .categoria > a:hover .badge {
  background-color: #3c719c;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}
.box-model .panel-body .lista-categorias .categoria .badge {
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}
.box-model .panel-body .lista-categorias .categoria i:before {
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}
.box-model .panel-body .lista-marcas {
  margin-top: -8px;
  margin-bottom: 12px;
  font-size: 13px;
}
.box-model .panel-body .lista-marcas a {
  display: block;
}
.box-model .panel-body .lista-marcas a:hover {
  border-left: 2px solid #3c719c;
  color: #3c719c;
  transition: 0.1s border linear;
  -webkit-transition: 0.1s border linear;
  -moz-transition: 0.1s border linear;
  -ms-transition: 0.1s border linear;
  -o-transition: 0.1s border linear;
}
.box-model .panel-body .lista-marcas li {
  padding: 4px 28px;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
}
.box-model .panel-body .lista-marcas li:hover {
  background: 45.29411765%;
}
.box-model .panel-body .arrow .fa-caret-right:before {
  color: #f7941e;
}
/* Range */
#slider {
  padding-bottom: 30px;
}
.ui-rangeSlider {
  height: 16px;
  padding-top: 0;
}
.ui-rangeSlider,
.ui-rangeSlider-container,
.ui-rangeSlider-arrow {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.ui-rangeSlider-withArrows .ui-rangeSlider-container {
  margin: 0 16px;
}
.ui-rangeSlider-withArrows .ui-rangeSlider-container,
.ui-rangeSlider-noArrow .ui-rangeSlider-container,
.ui-rangeSlider-arrow {
  /*-webkit-box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
     -moz-box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);
          box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.5);*/
}
.ui-rangeSlider-disabled.ui-rangeSlider-withArrows .ui-rangeSlider-container,
.ui-rangeSlider-disabled.ui-rangeSlider-noArrow .ui-rangeSlider-container,
.ui-rangeSlider-disabled .ui-rangeSlider-arrow {
  /*-webkit-box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.3);
     -moz-box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.3);
          box-shadow: inset 0px 4px 6px -2px RGBA(0,0,0,0.3);*/
}
.ui-rangeSlider-noArrow .ui-rangeSlider-container {
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-left: solid 1px #515862;
  border-right: solid 1px #515862;
}
.ui-rangeSlider-disabled.ui-rangeSlider-noArrow .ui-rangeSlider-container {
  border-color: #8490a3;
}
.ui-rangeSlider-container,
.ui-rangeSlider-arrow {
  height: 16px;
}
.ui-rangeSlider-disabled .ui-rangeSlider-container,
.ui-rangeSlider-disabled .ui-rangeSlider-arrow {
  border-top-color: #49576b;
  border-bottom-color: #9ca7b3;
}
.ui-rangeSlider-disabled .ui-rangeSlider-container,
.ui-rangeSlider-disabled .ui-rangeSlider-arrow,
.ui-rangeSlider-disabled .ui-rangeSlider-label {
  /*background: #95a4bd;
  background: -moz-linear-gradient(top, #95a4bd 0%, #b2bbd8 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#95a4bd), color-stop(100%,#b2bbd8));*/
}
.ui-rangeSlider-arrow {
  width: 15px;
  cursor: pointer;
}
.ui-rangeSlider-leftArrow {
  border-radius: 4px 0 0 4px;
}
.ui-rangeSlider-disabled .ui-rangeSlider-leftArrow {
  border-left-color: #8792a2;
}
.ui-rangeSlider-rightArrow {
  border-radius: 0 4px 4px 0;
}
.ui-rangeSlider-disabled .ui-rangeSlider-rightArrow {
  border-right-color: #8792a2;
}
.ui-rangeSlider-arrow-inner {
  position: absolute;
  top: 70%;
  border: 7px solid transparent;
  width: 0;
  height: 0;
  margin-top: -10px;
}
.ui-rangeSlider-leftArrow .ui-rangeSlider-arrow-inner {
  border-right: 10px solid #1c75bc;
  left: 0;
  margin-left: -6px;
}
/*.ui-rangeSlider-leftArrow:hover .ui-rangeSlider-arrow-inner{
  border-right:10px solid @color-pri;
}*/
.ui-rangeSlider-disabled .ui-rangeSlider-leftArrow .ui-rangeSlider-arrow-inner,
.ui-rangeSlider-disabled .ui-rangeSlider-leftArrow:hover .ui-rangeSlider-arrow-inner {
  border-right-color: #bbc0cf;
}
.ui-rangeSlider-rightArrow .ui-rangeSlider-arrow-inner {
  border-left: 10px solid #1c75bc;
  right: 0;
  margin-right: -6px;
}
.ui-rangeSlider-rightArrow:hover .ui-rangeSlider-arrow-inner {
  border-left: 10px solid #1c75bc;
}
.ui-rangeSlider-disabled .ui-rangeSlider-rightArrow .ui-rangeSlider-arrow-inner,
.ui-rangeSlider-disabled .ui-rangeSlider-rightArrow:hover .ui-rangeSlider-arrow-inner {
  border-left-color: #bbc0cf;
}
.ui-rangeSlider-innerBar {
  width: 110%;
  height: 100%;
  left: -10px;
  overflow: hidden;
}
.ui-rangeSlider-bar {
  background: #3c719c;
  height: 15px;
  margin: 1px 0;
  -moz-border-radius: 4px;
  border-radius: 4px;
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
}
.ui-rangeSlider-disabled .ui-rangeSlider-bar {
  background: #93aeca;
  -webkit-box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 2px 6px rgba(0, 0, 0, 0.3);
}
.ui-rangeSlider-handle {
  width: 10px;
  height: 30px;
  background: transparent;
  cursor: col-resize;
}
.ui-rangeSlider-label-inner {
  position: absolute;
  bottom: 100%;
  left: 50%;
  display: block;
  z-index: 99;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  margin-left: -10px;
  border-bottom: 10px solid #888DA0;
}
.ui-rangeSlider-disabled .ui-rangeSlider-label-inner {
  border-top-color: #b2bbd8;
}
.ui-editRangeSlider-inputValue {
  width: 2em;
  text-align: center;
  font-size: 15px;
}
.ui-rangeSlider .ui-ruler-scale {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.ui-rangeSlider .ui-ruler-tick {
  float: left;
}
.ui-rangeSlider .ui-ruler-scale0 .ui-ruler-tick-inner {
  color: white;
  margin-top: 1px;
  border-left: 1px solid white;
  height: 29px;
  padding-left: 2px;
  position: relative;
}
.ui-rangeSlider .ui-ruler-scale0 .ui-ruler-tick-label {
  position: absolute;
  bottom: 6px;
}
.ui-rangeSlider .ui-ruler-scale1 .ui-ruler-tick-inner {
  border-left: 1px solid white;
  margin-top: 25px;
  height: 5px;
}
.ui-rangeSlider-label {
  top: 28px;
}
.ui-rangeSlider-container,
.ui-rangeSlider-arrow,
.ui-rangeSlider-label {
  /*background-color: @color-pri-light;*/
}
.ui-rangeSlider-container {
  background: #dddddd;
}
.ui-editRangeSlider-inputValue {
  padding: 0 !important;
  height: 25px !important;
  width: 45px;
}
.ui-rangeSlider-label-inner {
  border-bottom: 10px solid #3c719c !important;
  cursor: e-resize;
}
/*===== Footer =====*/
/*===== Footer =====*/
/* =============================================================== */
/*  FOOTER
/* =============================================================== */
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
.footer ul li a:hover {
  color: #1c75bc !important;
  font-weight: bold;
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.newsLatterBox input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
}
.newsLatterBox .btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  color: #fff;
}
.newsLatterBox {
  overflow: hidden;
}
.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #bbbbbb 0%, #f0f0f0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}
.paymentMethodImg img {
  margin-left: 5px;
}
.footer a:hover {
  color: #95a5a6;
}
/* Footer SV */
.footer p {
  margin: 0;
}
.footer img {
  max-width: 100%;
}
.footer a {
  color: 45.29411765%;
}
#footer {
  position: relative;
  padding-top: 20px;
  padding-bottom: 30px;
  border-top: 1px dotted 54.31372549%;
  width: 100%;
  height: auto;
  background: #EDEFF1;
  background-color: rgba(237, 237, 243, 0.55);
}
#footer .title {
  text-transform: capitalize;
  padding-bottom: 0;
}
#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6 {
  color: #3c719c;
}
#footer .h1,
#footer h2,
#footer h3,
#footer h4 {
  border-bottom: 1px solid #BAC1C8;
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
  padding: 0;
}
#footer p {
  margin: 6px 0;
  padding: 0;
}
#footer .fa {
  color: #3c719c;
}
#footer .arrow .fa-caret-right:before {
  color: #f7941e;
}
#footer .footer-wrapper ul li a,
#footer .footer-wrapper p,
#footer .footer-wrapper span {
  color: #727575;
}
.social li {
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: right;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  -webkit-transition: all 0.1s ease 0s;
  -ms-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
}
.social li:hover {
  border: 1px solid 54.31372549%;
  background: #3c719c;
  transform: scale(1.15);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.social li a {
  color: #EDEFF1;
}
.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important;
}
.footer-bottom {
  color: #fff;
  background: #3c719c;
  border-top: 1px solid 54.31372549%;
}
.footer-bottom p {
  padding: 2px 0 !important;
  margin: 0 !important;
  font-size: 13px;
}
/*===== Home =====*/
/*===== Home =====*/
/* Banner */
.cycle-slideshow a {
  transition: none;
  width: 100%;
}
.cycle-slideshow img {
  width: 100%;
}
.cycle-pager {
  text-align: center;
  width: 100%;
  z-index: 500;
  position: absolute;
  bottom: 10px;
  overflow: hidden;
}
.cycle-pager span {
  font-size: 50px;
  width: 16px;
  height: 16px;
  display: inline-block;
  color: 54.31372549%;
  cursor: pointer;
}
.cycle-pager span.cycle-pager-active {
  color: #3c719c;
}
.container-arrow-banner {
  position: absolute;
  top: 45%;
  width: 100%;
  z-index: 100;
}
.container-arrow-banner .arrow {
  position: absolute;
  width: 32px;
  cursor: pointer;
}
.container-arrow-banner .arrow.arrow-l {
  left: 0;
}
.container-arrow-banner .arrow.arrow-r {
  right: 30px;
}
.container-arrow-banner .arrow path {
  fill: 54.31372549%;
}
/* Produtos */
.home-produtos-container {
  margin-top: 20px;
}
.products-block-home {
  margin-top: 20px;
}
.item.list-view .product {
  text-align: right;
  padding-right: 20px;
}
.product {
  display: block;
  height: auto;
  /*transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;*/
  border: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  text-align: center;
}
.product.box-model {
  position: relative;
  padding: 15px 0.6em;
  margin-left: -2px;
  float: none;
  display: inline-block;
  vertical-align: top;
  min-height: 440px;
  /* Temp... Ou não*/
}
.product.box-model:hover {
  box-shadow: none !important;
  border: 1px solid 42.35294118% !important;
}
.product.box-model .description {
  text-align: left;
}
.product.box-model .title > *:hover {
  color: #1C75BC;
}
.product.box-model .image img {
  width: 40%;
}
.product .description {
  min-height: 75px;
}
.product .price .a-partir {
  display: block;
  font-size: 14px;
}
.product .price .btn-a-partir {
  font-size: 15px;
}
.product .price .x-lojas {
  display: block;
  font-weight: normal;
  font-size: 13px;
}
.rightSidebar .product {
  padding: 10px 0;
}
.item {
  display: block;
  transition: all 0.25s linear;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  margin-bottom: 15px;
  height: auto;
}
.item .title {
  margin: 0;
  min-height: 45px;
  max-height: 80px;
  overflow: hidden;
  display: block;
  line-height: 20px;
  margin: 25px 0 0;
  padding: 0;
}
.item .title a {
  color: #2c3e50;
  font-size: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-decoration: none;
  line-height: 1;
}
.stars {
  display: inline-block;
}
.stars .svg-wrapper {
  position: relative;
  float: left;
}
.stars .svg-wrapper svg {
  position: relative;
  width: 20px;
  fill: #1C75BC;
}
/*===== Results =====*/
/*===== Results =====*/
.productFilter {
  border-bottom: 1px dotted 42.35294118%;
  clear: both;
  display: block;
  padding-bottom: 4px;
  margin-bottom: 20px;
}
.productFilter p {
  display: block;
  font-size: 14px;
  margin-top: 6px;
}
.filters-selecteds {
  background: 54.31372549%;
  padding: 5px;
}
.list-filters {
  margin: 5px 0;
  display: inline-block;
}
.list-filters li.title {
  text-transform: capitalize;
}
.list-filters li.label {
  font-size: 14px;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.list-filters li.label .close-filter {
  padding-left: 4px;
}
.list-filters li.label .close-filter:hover {
  cursor: pointer;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
/*# sourceMappingURL=global.css.map */