@{
    ViewBag.Title = "Comparar Produto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container main-container headerOffset" rel="search" id="main-container">
    <div class="row">

        <div class="col-xs-12">
            <h2 class="title-home">Comparação de produtos:</h2>
        </div>

        <article class="col-sm-12">
            <section class="row categoryProduct xsResponse clearfix container-results-products">

                <div class="wrapper-product-compare">

                    <article class="item col-sm-3 col-xs-6">
                        <div class="product box-model">
                            <figure class="image">
                                <span class="glyphicon glyphicon-remove comparadorPage-remove-product"></span>
                                <a href="/produto/fisher-pricefisher-price-fpv-700">
                                    <img src="http://thumbs.buscape.com.br/baba-eletronica/fisher-price-fpv-700_200x200-PU8ba27_1.jpg" class="img-responsive" alt="Fisher Price FPV-700" title="Fisher Price FPV-700">
                                </a>
                            </figure>
                            <div class="description">
                                <h3 class="title"><a href="/produto/fisher-pricefisher-price-fpv-700">Fisher Price FPV-700</a></h3>
                                <section class="stars stars-home tooltipOn clearfix" data-toggle="tooltip" data-original-title="0 Avaliações">
                                    <span class="svg-wrapper">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                                        <g id="star">
                                        <polygon points="255,402.212 412.59,497.25 370.897,318.011 510,197.472 326.63,181.738 255,12.75 183.371,181.738 0,197.472
			                                                139.103,318.011 97.41,497.25 		"></polygon>
	                                </g>
                                </svg>
                                    </span>
                                    <span class="svg-wrapper">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                                        <g id="star">
                                        <polygon points="255,402.212 412.59,497.25 370.897,318.011 510,197.472 326.63,181.738 255,12.75 183.371,181.738 0,197.472
			                                                139.103,318.011 97.41,497.25 		"></polygon>
	                                </g>
                                </svg>
                                    </span>
                                    <span class="svg-wrapper">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                                        <g id="star">
                                        <polygon points="255,402.212 412.59,497.25 370.897,318.011 510,197.472 326.63,181.738 255,12.75 183.371,181.738 0,197.472
			                                                139.103,318.011 97.41,497.25 		"></polygon>
	                                </g>
                                </svg>
                                    </span>
                                    <span class="svg-wrapper">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                                        <g id="star">
                                        <polygon points="255,402.212 412.59,497.25 370.897,318.011 510,197.472 326.63,181.738 255,12.75 183.371,181.738 0,197.472
			                                                139.103,318.011 97.41,497.25 		"></polygon>
	                                </g>
                                </svg>
                                    </span>
                                    <span class="svg-wrapper">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                                        <g id="star">
                                        <polygon points="255,402.212 412.59,497.25 370.897,318.011 510,197.472 326.63,181.738 255,12.75 183.371,181.738 0,197.472
			                                                139.103,318.011 97.41,497.25 		"></polygon>
	                                </g>
                                </svg>
                                    </span>
                                </section>
                            </div>
                            <section class="price">
                                <span class="a-partir a-partir-home">A partir de</span>
                                <a class="btn btn-primary btn-small btn-pri btn-a-partir tooltipOn" href="#" data-toggle="tooltip" data-original-title="Compare as ofertas">
                                    R$ 443,32
                                    <i class=" fa fa-arrow-circle-right">
                                    </i>
                                </a>
                                <!--span class="text-small">em 19 lojas</span-->
                            </section>

                        </div>
                    </article>

                    <article class="item col-sm-3 col-xs-6">
                        <div class="product box-model">
                            <figure class="image">
                                <span class="glyphicon glyphicon-remove comparadorPage-remove-product"></span>
                                <a href="/produto/fisher-pricefisher-price-fpv-700">
                                    <img src="http://thumbs.buscape.com.br/baba-eletronica/fisher-price-fpv-700_200x200-PU8ba27_1.jpg" class="img-responsive" alt="Fisher Price FPV-700" title="Fisher Price FPV-700">
                                </a>
                            </figure>
                            <div class="description">
                                <h3 class="title"><a href="/produto/fisher-pricefisher-price-fpv-700">Fisher Price FPV-700</a></h3>
                                <section class="stars stars-home tooltipOn clearfix" data-toggle="tooltip" data-original-title="0 Avaliações">
                                    <span class="svg-wrapper">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                                        <g id="star">
                                        <polygon points="255,402.212 412.59,497.25 370.897,318.011 510,197.472 326.63,181.738 255,12.75 183.371,181.738 0,197.472
			                                                139.103,318.011 97.41,497.25 		"></polygon>
	                                </g>
                                </svg>
                                    </span>
                                    <span class="svg-wrapper">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                                        <g id="star">
                                        <polygon points="255,402.212 412.59,497.25 370.897,318.011 510,197.472 326.63,181.738 255,12.75 183.371,181.738 0,197.472
			                                                139.103,318.011 97.41,497.25 		"></polygon>
	                                </g>
                                </svg>
                                    </span>
                                    <span class="svg-wrapper">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                                        <g id="star">
                                        <polygon points="255,402.212 412.59,497.25 370.897,318.011 510,197.472 326.63,181.738 255,12.75 183.371,181.738 0,197.472
			                                                139.103,318.011 97.41,497.25 		"></polygon>
	                                </g>
                                </svg>
                                    </span>
                                    <span class="svg-wrapper">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                                        <g id="star">
                                        <polygon points="255,402.212 412.59,497.25 370.897,318.011 510,197.472 326.63,181.738 255,12.75 183.371,181.738 0,197.472
			                                                139.103,318.011 97.41,497.25 		"></polygon>
	                                </g>
                                </svg>
                                    </span>
                                    <span class="svg-wrapper">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                                        <g id="star">
                                        <polygon points="255,402.212 412.59,497.25 370.897,318.011 510,197.472 326.63,181.738 255,12.75 183.371,181.738 0,197.472
			                                                139.103,318.011 97.41,497.25 		"></polygon>
	                                </g>
                                </svg>
                                    </span>
                                </section>
                            </div>
                            <section class="price">
                                <span class="a-partir a-partir-home">A partir de</span>
                                <a class="btn btn-primary btn-small btn-pri btn-a-partir tooltipOn" href="#" data-toggle="tooltip" data-original-title="Compare as ofertas">
                                    R$ 443,32
                                    <i class=" fa fa-arrow-circle-right">
                                    </i>
                                </a>
                                <!--span class="text-small">em 19 lojas</span-->
                            </section>

                        </div>
                    </article>

                    <article class="item col-sm-3 col-xs-6">
                        <div class="product box-model">
                            <figure class="image">
                                <span class="glyphicon glyphicon-remove comparadorPage-remove-product"></span>
                                <a href="/produto/fisher-pricefisher-price-fpv-700">
                                    <img src="http://thumbs.buscape.com.br/baba-eletronica/fisher-price-fpv-700_200x200-PU8ba27_1.jpg" class="img-responsive" alt="Fisher Price FPV-700" title="Fisher Price FPV-700">
                                </a>
                            </figure>
                            <div class="description">
                                <h3 class="title"><a href="/produto/fisher-pricefisher-price-fpv-700">Fisher Price FPV-700</a></h3>
                                <section class="stars stars-home tooltipOn clearfix" data-toggle="tooltip" data-original-title="0 Avaliações">
                                    <span class="svg-wrapper">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                                        <g id="star">
                                        <polygon points="255,402.212 412.59,497.25 370.897,318.011 510,197.472 326.63,181.738 255,12.75 183.371,181.738 0,197.472
			                                                139.103,318.011 97.41,497.25 		"></polygon>
	                                </g>
                                </svg>
                                    </span>
                                    <span class="svg-wrapper">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                                        <g id="star">
                                        <polygon points="255,402.212 412.59,497.25 370.897,318.011 510,197.472 326.63,181.738 255,12.75 183.371,181.738 0,197.472
			                                                139.103,318.011 97.41,497.25 		"></polygon>
	                                </g>
                                </svg>
                                    </span>
                                    <span class="svg-wrapper">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                                        <g id="star">
                                        <polygon points="255,402.212 412.59,497.25 370.897,318.011 510,197.472 326.63,181.738 255,12.75 183.371,181.738 0,197.472
			                                                139.103,318.011 97.41,497.25 		"></polygon>
	                                </g>
                                </svg>
                                    </span>
                                    <span class="svg-wrapper">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                                        <g id="star">
                                        <polygon points="255,402.212 412.59,497.25 370.897,318.011 510,197.472 326.63,181.738 255,12.75 183.371,181.738 0,197.472
			                                                139.103,318.011 97.41,497.25 		"></polygon>
	                                </g>
                                </svg>
                                    </span>
                                    <span class="svg-wrapper">
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="50px" height="50px" viewBox="0 0 510 510" style="enable-background:new 0 0 510 510;" xml:space="preserve">
                                        <g id="star">
                                        <polygon points="255,402.212 412.59,497.25 370.897,318.011 510,197.472 326.63,181.738 255,12.75 183.371,181.738 0,197.472
			                                                139.103,318.011 97.41,497.25 		"></polygon>
	                                </g>
                                </svg>
                                    </span>
                                </section>
                            </div>
                            <section class="price">
                                <span class="a-partir a-partir-home">A partir de</span>
                                <a class="btn btn-primary btn-small btn-pri btn-a-partir tooltipOn" href="#" data-toggle="tooltip" data-original-title="Compare as ofertas">
                                    R$ 443,32
                                    <i class=" fa fa-arrow-circle-right">
                                    </i>
                                </a>
                                <!--span class="text-small">em 19 lojas</span-->
                            </section>

                        </div>
                    </article>

                </div>

                <section class="product-more-details col-xs-12" id="details">
                    <article class="product-detail-tables">
                        <section class="product-detail-tables-item compare-tables">
                            <span>
                                <h4 class="title">Modelo</h4>
                            </span>
                            <table class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <td>Característica 1</td>
                                        <td>Característica 2</td>
                                        <td>Característica 3</td>
                                        <td>Característica 4</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>

                        <section class="product-detail-tables-item compare-tables">
                            <span>
                                <h4 class="title">Recursos</h4>
                            </span>
                            <table class="table table-striped table-hover">
                                <tbody>
                                    <tr>
                                        <td>Característica 1</td>
                                        <td>Característica 2</td>
                                        <td>Característica 3</td>
                                        <td>Característica 4</td>
                                    </tr>
                                </tbody>
                            </table>
                        </section>

                    </article>



                </section>

            </section>
        </article>

    </div>
</div>

@section scripts{
<script>
    $(function () {
        var itens = $('.container-results-products').find('.item'),
            itensInPage = itens.length;

        if (itensInPage == 3) {
            $('.container-results-products').find('.item').attr('class', 'item col-sm-4 col-xs-6');
        };

        if (itensInPage == 2) {
            $('.container-results-products').find('.item').attr('class', 'item col-xs-6');
            $('.wrapper-product-compare').addClass('wrapper-block');
        };

        

        $('.container-results-products').find('table td').addClass('compare-' + itensInPage);
    });
</script>
}