@model SV.Site.Facade.SearchEntities.SearchProductEntity
<h3 class="title">Título da Análise do Especialista</h3>
<section class="text-especialista">
    <h4 class="title-text">Subtítulo da Descrição do Especialista</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et metus vel ipsum blandit varius vel ac lorem. Ut efficitur, neque vel lacinia venenatis, lectus odio auctor lorem, vitae tincidunt nunc velit in eros. Maecenas malesuada eros magna. Phasellus quis mauris arcu. </p>
    <p>In aliquam sed odio non finibus. In ullamcorper ante fringilla, pellentesque lectus et, luctus elit. Phasellus ornare, sem nec iaculis pretium, leo velit ullamcorper mauris, eget faucibus metus neque quis eros. Fusce quis vulputate nisi, quis aliquam diam. Mauris non elit dictum, accumsan velit et, gravida tortor.</p>
    <p>Proin diam sapien, tempor eu egestas quis, hendrerit non erat. In sollicitudin accumsan ullamcorper. Maecenas ut neque eu nisl egestas dictum.</p>
</section>
<section class="text-especialista">
    <h4 class="title-text">Subtítulo da Descrição do Especialista</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et metus vel ipsum blandit varius vel ac lorem. Ut efficitur, neque vel lacinia venenatis, lectus odio auctor lorem, vitae tincidunt nunc velit in eros. Maecenas malesuada eros magna. Phasellus quis mauris arcu. </p>
    <p>In aliquam sed odio non finibus. In ullamcorper ante fringilla, pellentesque lectus et, luctus elit. Phasellus ornare, sem nec iaculis pretium, leo velit ullamcorper mauris, eget faucibus metus neque quis eros. Fusce quis vulputate nisi, quis aliquam diam. Mauris non elit dictum, accumsan velit et, gravida tortor.</p>
    <p>Proin diam sapien, tempor eu egestas quis, hendrerit non erat. In sollicitudin accumsan ullamcorper. Maecenas ut neque eu nisl egestas dictum.</p>
</section>
